section {
  display: none;
}
section:target {
  display: block;
}
section:not(:target) {
  display: none;
}
#home:not(:target) {
}
body {
  color: white;
  background-color: #121212;
}
.link {
  color: orange;
  font-size: 18;
}
.logo {
  color: white;
  text-decoration: none;
}
